<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>轻量在线阅读工具</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vant/4.0.0-alpha.3/index.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <!-- 引入 Vue 和 Vant 的 JS 文件 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.34/vue.global.prod.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vant/4.0.0-alpha.3/vant.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="./js/twloader.js"></script>
    <script>
        //动态加载
        TW_LoadScriptFromVersion("env.js", ['main.js', 'index.js', './js/http.js'], () => { Start() })
    </script>
    <style>
        #app{
            display: none;
        }
        .sidebar {
            float: left;
        }

        .ItemContent {
            color: #000;
            text-align: left;
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <div>
            <van-notice-bar
                left-icon="volume-o"
                text="此网站内容仅供学习用，不用于商业目的。"
            />
        </div>
        <div>
            <div class="sidebar">
                <van-sidebar v-model="active" @change="onChange">
                    <van-sidebar-item v-for="item,index in props.menus" :key="index" :title="item.name" />
                </van-sidebar>
            </div>

            <div class="list-wrapper">
                <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
                    <van-list v-model:loading="loading" :finished="finished" finished-text="没有更多了" @load="onLoad"
                        :immediate-check="false">
                        <van-cell v-for="item,index in props.lstBooks" :key="index">
                            <van-panel :title="item.name" :status="book">
                                <div class="ItemContent">
                                    {{item.name}}

                                </div>
                                <div slot="footer" style="text-align:right;padding-right:20px">
                                    <van-button size="small" plain type="primary" @click="onShowBook(item)">阅读
                                    </van-button>

                                </div>
                            </van-panel>
                        </van-cell>
                    </van-list>
                </van-pull-refresh>
            </div>
        </div>
        <!--  底部栏 -->
        <div style='display:block;height:100px;'>&nbsp;</div>
        <div>
            <van-tabbar v-model="activeBotTag">
                <van-tabbar v-model="activeBotTag">
                    <van-tabbar-item icon="./res/home.png" url="./index.html">目录</van-tabbar-item>
                    <van-tabbar-item icon="./res/page.png" url="./views/book.html">阅读</van-tabbar-item>
                    <van-tabbar-item icon="./res/apps.png" url="my.html">支持</van-tabbar-item>
                </van-tabbar>
            </van-tabbar>
        </div>
    </div>
</body>

</html>